<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Golden Book</title>
    <link rel="stylesheet" href="/assets/styles/semantic.min.css">
    <script type="text/javascript" src="/assets/scripts/semantic.min.js"></script>

    <style>
        .main.container {
            margin-top: 7em;
        }
    </style>
</head>
<body>
<div class="ui fixed inverted menu">
    <a href="/" class="header item">Golden Book</a>
</div>

<div class="ui main container">
    <% if(locals.flash && locals.flash.error) { %>
    <div class="ui negative message">
        <%= flash.error %>
    </div>
    <% } %>

    <% if(locals.flash && locals.flash.success) { %>
        <div class="ui positive message">
            <%= flash.success %>
        </div>
    <% } %>